.green{
    color:green;
}
.red{
    color:red;
}
.white{
    color:white
}
.pink{
    background-color:pink;
}
.blue{
    background-color:blue;
}
.white{
    color:white;
}
.black{
    background-color:black;
}